@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
body {
  padding: 0;
  margin: 0;
}
.chinchilla-body .button {
  width: intrinsic;
  padding: 5px;
  border: 1px solid #111;
  transition: 0.5s background ease;
  cursor: pointer;
}
.chinchilla-body .button p {
  margin: 0;
  color: #111;
  transition: 0.5s color ease;
}
.chinchilla-body .button:hover {
  background: #111;
}
.chinchilla-body .button:hover p {
  color: #eee;
}
.line-graph {
  width: 100%;
  float: left;
}
.line-graph svg {
  font: 12px Open Sans;
}
.line-graph .line {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}
.line-graph .axis path,
.line-graph .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  shape-rendering: crispEdges;
}
.line-graph .y g.tick:first-child text,
.line-graph .y path,
.line-graph .y line {
  opacity: 0;
}
.line-graph .x line {
  stroke: #111;
}
.line-graph .x .tick line {
  opacity: 0;
}
.worker-stats {
  width: 50%;
  float: left;
  overflow: hidden;
  margin-top: 70px;
}
.worker-stats .worker-stat {
  opacity: 1;
  overflow: hidden;
  height: 50px;
  width: 50%;
  float: left;
}
.worker-stats .worker-stat .color-key {
  border-radius: 2px;
  margin-right: 20px;
  height: 50px;
  width: 5px;
  float: left;
}
.worker-stats .worker-stat p {
  display: inline-block;
  margin-right: 20px;
}
